<div class="row ms-2 parte1">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Olá! Seja Bem-vindo(a) ao Mary's Sorrows!</h2>
    <p class="lead lh-base text-center ms-4">"A violência doméstica e familiar contra a mulher é considerada como
      qualquer ação ou omissão baseada no gênero feminino que lhe cause morte, lesão, sofrimento físico, sexual ou
      psicológico e dano moral ou patrimonial", <a class="tjpr"
         href="https://www.tjpr.jus.br/web/cevid/violencia-domestica">TJPR</a>.</p>
    <p>O apoio é uma das maiores necessidades de uma mulher vítima de violência doméstica ao buscar ajuda. E nós do
      Mary's Sorrows, fizemos este site para </p>
  </div>
  <div class="col-md-3">
    <img src="/public/imagens/Image_about_girls_in__Illustrations___art__by_Ele_.png" alt="" width="400"
         class="image-fluid">
  </div>
</div>