<div class="row ms-2 parte1">
  <div class="col-md-8">
    <h2 class="featurette-heading fw-normal lh-1">Olá! Seja Bem-vindo(a) ao Mary's Sorrows!</h2>
    <p class="lead lh-base text-center ms-4">"A violência doméstica e familiar contra a mulher é considerada como
      qualquer ação ou omissão baseada no gênero feminino que lhe cause morte, lesão, sofrimento físico, sexual ou
      psicológico e dano moral ou patrimonial", <a class="tjpr"
         href="https://www.tjpr.jus.br/web/cevid/violencia-domestica">TJPR</a>.</p>
    <p>O apoio é uma das maiores necessidades de uma mulher vítima de violência doméstica ao buscar ajuda. E nós do
      Mary's Sorrows, fizemos este site para ajudar as mulheres que passam e já passaram por situções parecidas.</p>
  </div>
  <div class="col-md-4">
    <img src="/public/imagens/Image_about_girls_in__Illustrations___art__by_Ele_.png" alt="" width="400"
         class="image-fluid">
  </div>

</div>
  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Tipos de violência doméstica contra a mulher:</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        <strong>Psicológica:</strong> Humilhação,ameaças, ridicularização, manipulação, limitação ao direito e em
        qualquer situação em que o psicológico da mulher seja atingido;
        <strong>Verbal:</strong> É a agressão psicológica com determinada frequência;
        <strong>Física:</strong> É tudo aquilo que pode causar lesões corporais;
        <strong>Sexual:</strong> É tudo o que fere a integridade sexual da mulher, como o estupro.
      </p>
      <p><strong>SE VOCÊ JÁ SOFREU QUALQUER DESTES TIPOS DE VIOLÊNCIA:</strong></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-danger btn-lg px-4 me-sm-3"><a href="/cadastrar"
             id="buttonDenuncia">DENUNCIE</a></button>
      </div>
    </div>
    <hr class="featurette-divider me-4 ms-4">
  </div>

  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Por que denunciar?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        A <a href="http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2006/lei/l11340.htm" class="fonteIndex">Lei
          Maria da Penha</a> foi um
        avanço na segurança possibilitando que qualquer um faça registros de agressões testemunhadas. Afinal, no mapa da
        violência o Brasil é o quinto país que mais assassina mulheres no mundo. De acordo com a OMS (Organização
        Mundial de Saúde), a violência doméstica é uma epidemia no contexto social brasileiro. Assim, denunciar cada
        caso presenciado é extremamente importante e necessário.
      </p>
    </div>
    <hr class="featurette-divider me-4 ms-4">
  </div>

  <div id="carouselExampleControls" class="carousel carousel-dark slide container-fluid" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/public/imagens/grafico1.png" class="d-block carousel-tam img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/public/imagens/grafico2.png" class="d-block carousel-tam img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/public/imagens/grafico3.png" class="d-block carousel-tam img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/public/imagens/grafico4.png" class="d-block carousel-tam img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/public/imagens/grafico5.png" class="d-block carousel-tam img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <a href="https://g1.globo.com/bemestar/violencia-contra-mulher.html" class="fonteIndex"> Fonte: Gráficos violência
      contra a mulher</a>
      <hr class="featurette-divider me-4 ms-4">
  </div>

  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Outras formas de denunciar:</h1>
    <div class="col-lg-6 mx-auto">
      <ul>
        <li class="liNegrito"> Ligue 180 </li>
        <li class="liNegrito"> Ligue 181 para denúncia anônima </li>
        <li class="liNegrito"> Ligue 190 para denúncia em flagrante </li>
      </ul>
    </div>
    <hr class="featurette-divider me-4 ms-4">
  </div>