<h1>QUEM SOMOS?</h1>

<div class="row background container-fluid">
  <div class="col-lg-4 mt-5">
    <img class="rounded-circle" width="160" height="160" src="../public/imagens/Ana.jpeg" alt="">
    <h2 class="fw-normal">Ana Júlia Monteiro de Assis</h2>
    <p>Aluna da turma 128 do curso técnico integrado à informática do IFMS.</p>
  </div>
  
  <div class="col-lg-4 mt-5">
      <img class="rounded-circle" width="160" height="160" src="../public/imagens/Carol.jpeg" alt="">
      <h2 class="fw-normal">Caroline Marques Morais</h2>
      <p>Aluna da turma 128 do curso técnico integrado à informática do IFMS.</p>
  </div>

  <div class="col-lg-4 mt-5">
      <img class="rounded-circle" width="160" height="160" src="../public/imagens/Maria.jpg" alt="">
      <h2 class="fw-normal">Maria Eduarda Monteiro de Assis</h2>
      <p>Aluna da turma 128 do curso técnico integrado à informática do IFMS.</p>
</div>
</div>

<hr class="featurette-divider me-4 ms-4">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Sobre o site</h2>
    <p class="container-fluid lead">Resolvemos realizar esse projeto para ajudar todas as mulheres que sofrem ou já sofreram de violência doméstica, além de fornecer informações para que todos entendam a gravidade do assunto e a necessidade da discussão.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid" width="80%" height="80%" src="../public/imagens/hands-ge4a846a42_1920.png" alt="">
  </div>
</div>